In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('mouse_viral_study.csv')

In [3]:
df.head()

   Med_1_mL  Med_2_mL  Virus Present
0  6.508231  8.582531              0
1  4.126116  3.073459              1
2  6.427870  6.369758              0
3  3.672953  4.905215              1
4  1.580321  2.440562              1